@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
/* 폰트 셋팅 */
/*프리텐다드*/
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css');
/*Inter*/
@import url('https://rsms.me/inter/inter.css');
/*NotoSans JP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
/*NotoSans SC*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap');
@font-face {
    font-family: 'Inter';
    font-style: normal;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
/* ------------------------------------------------------------------------------------------------ */
* { margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif; }
body {
  font-weight: normal; letter-spacing: normal; line-height: 1;
  font-family: 'Inter', 'Pretendard Variable', sans-serif;
}

div:after {
  content: "";
  display: block;
  clear: both;
}
header .left ul li a i {
    font-size: 17px;
    color: #fff;
    margin-left: 2px;
    vertical-align: bottom;
}
.pc{
  display: block;
}
/*common ui*/
.back-to-top {
  position: fixed;
  width: 30px;
  height: 30px;
  right: 10px;
  bottom: 10px;
  background: black;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.2);
  opacity: 0;
  transition: 1s;
  z-index: 800;
}

.back-to-top a {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  color: white;
}
/* mobil button line sytle */
input[type=checkbox]#gnbcheck {
  display: none;
}
#gnbbtn {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  z-index: 500;
  display: none;
}
#gnbbtn > span {
  position: absolute;
  top: 16px;
  height: 1.6px;
  width: 32px;
  background: #ffffff;
  transform: translateY(-50%);
}

#gnbbtn > span:nth-child(1){
  top: 8px;
}
#gnbbtn > span:nth-child(3){
  top: 24px;
}
/* mobile close button */
#mobile-close-btn {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 10px;
  right: 10px;
  z-index: 500;
  display: none;
}

#mobile-close-btn:before, #mobile-close-btn:after {
  content: '';
  position: absolute;
  height: 1.6px;
  width: 32px;  /*100%헤도 무방*/
  top: 16px;
  background: #ffffff;
  transform: translateY(-50%) rotate(45deg);
}
#mobile-close-btn:before {
  transform: translateY(-50%) rotate(-45deg);
}
/*header*/
#header {
  position: fixed;
  width: 100vw;
  height: 80px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 10000;
}
#header #top-logo{
  margin-right: 65px;
  width: 120px;
}
#header #top-logo a{
  display: flex;
  text-align: center;
  justify-content: center;
}
#top-logo, .left{
  display: flex;
  align-items: center;
}
#header .left ul {
  display: flex;
  align-items: center;
}
.left ul li {
  cursor: pointer;
}
.left ul li a{
  padding: 31px 35px;
  position: relative;
}
#header ul li a span {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
#header ul li.store {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 300px;
  transition: 0.3s;
  margin-left: 35px;
}
#header ul li.store a{
  padding: 10px 24px 11px;
  box-shadow: 0 0 0 1px #fff;
  border-radius: 300px;
  transition: 0.3s;
}
/*right*/
#header .right{
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right .lang h3, #header .right .lang .toggle ul li a{
  display: flex;
  align-items: center;
}
#header .right .lang {
  padding: 32px;
  position: relative;
  opacity: 1;
  transition: 0.3s;
  cursor: pointer;
}
#header .right .lang span{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
#header .right .lang .arw {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  margin-left: 11px;
  display: block;
}
#header .right .lang .toggle {
  padding-top: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#header .right .lang .toggle ul {
  padding: 12px 18px;
  background: #fff;
  border-radius: 8px;
}
#header .right .lang .toggle li span {
  font-size: 15px;
  font-weight: 500;
  min-width: 20px;
}
#header .right .hamburger {
  height: 30px;
  width: 30px;
  position: relative;
  cursor: pointer;
  margin-top: 50;

}
#header .right .hamburger:after{
   transition-duration: 0.5;
   position: absolute;
   width: 30px;
   height: 2px;
   background: #fff;
   content: "";
   bottom: 8px;
 }
#header .right .hamburger:before{
  transition-duration: 0.5;
  position: absolute;
  display: block;
  width: 30px;
  height: 2px;
  background: #fff;
  content: "";
  top: 8px;
}
/* --------------------------------------------------------------- */
/* 메인배너시작 */

.fullpage {
  height: 100%;
  position: relative;
  transform: translate3d( 0px 0px 0px );
  transition: all 1000ms ease 0s;
}
section#intro.abs {
  position: initial;
  margin-left: 250px;
  bottom: 16.667%;
  width: 100%;
  height: 100%;
}
.abs .txt {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%) !important;
  z-index: 999;
  width: 100%;
  transition: 0.3;
  margin-top: 20px
}

.txt h2 {
 line-height: 1.29;
 font-weight: 200;
 font-size: 70px;
 color: #fff;
 letter-spacing: 10.5px;
 position: relative;
}
.txt h2:nth-child(2){
  padding-left: 114px;
  transition-delay: 0.3s;
}
.txt h2 b {
  font-weight: 600;
}
.float-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.inner {
  width: 1400px;
  max-width: 100%;
  position: relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.inner .scroll-ico {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  text-align:center;
}
.inner .scroll-ico p {
  font-size: 14px;
  font-weight: normal;
  color: rgba( 255, 255, 255, 0.8);
  margin-left: 14px;
  margin-top: 4px;
  order: 2;
}
.inner .scroll-ico i {
  position: relative;
  width: 2px;
  height: 130px;
  border-radius: 50% 50% 0 0;
  background: rgba( 255, 255, 255, 0.3);
}
.inner .scroll-ico i:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 60px;
  top: 0;
  left: 0;
  background: #fff;
}
/* ------------------------------------- */

/* ---------------------------------- */
.dots {
  margin-bottom: 30px;
  width: auto !important;
}
.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}
.swiper-pagination-bullet {
 width: 8px;
 height: 8px;
 display: inline-block;
 border-radius: 100%;
 background: #000;
 opacity: 0.2;
}
.dots .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: rgba( 0, 0, 0, 0.2);
  margin-right: 6px;
  left: 0 !important;
  transform: scale(1) !important;
  opacity: 1;
  transition: 0.3s;
}
.dots .swiper-pagination-bullet-active-main {
  width: 22px;
  height: 6px;
  background: #000;
  border-radius: 500px;
}
.abs.active .logo, .abs.active .txtx h3, .abs.active .common-btns {
  position: relative;
  opacity: 1;
  transform: translateZ(0);
  transition-duration: 1s;
  transition-property: opacity, transform;
}
.abs .logo img {
  display: block;
  z-index: 99999;
}
.abs .logo img:first-child {
  height: 16px;
}
.abs .logo img:last-child {
  height: 15px;
  margin-top: 10px;
}
.abs .txtx {
  margin-top: 20px;
}
.abs .txtx h3 {
  font-size: 44px;
  font-weight: 600;
  color: #000;
  line-height: 1.41;
  transition-delay: 0.2s;
}
.common-btns {
  margin-top: 40px;
  display: flex;
  pointer-events: auto;
}
.common-btns li {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.common-btns li:not(:last-child) {
  margin-right: 18px;
}
.common-btns li.line a{
  background: transparent;
  box-shadow: 0 0 0 1px #000;
}
.common-btns li a {
  min-height: 40px;
  padding: 7px 24px;
  padding-right: 58px;
  border-radius: 300px;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  transition: 0.2s;
  background: #000;
  box-shadow: 0 0 0 1px #000;
}
.common-btns li.line span, .common-btns li.line i {
  color: #000;
}
.common-btns li span {
  font-size: 14px;
  font-weight: normal;
  display: block;
  position: relative;
}
.common-btns li i {
  position: absolute;
  right: 24px;
  top: calc( 50% - 1px);
  transform: translateY(-50%);
  font-size: 24px;
  transition: 0.3s;
}
.arws {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  justify-content: space-between;
  z-index: 10;
  pointer-events: none;
  display: none;
}
.arws .prev, .arws .next {
  cursor: pointer;
  pointer-events: auto;
  transition: 0.3s;
}
.arws .prev{
  margin-left: 50px;
  opacity: 1;
}

section { /*섹션별로 나누어지게 됨(세로 로)*/
  position: relative;
  overflow: hidden;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* background: white; */
  min-height: 100vh;
  box-sizing: border-box;
}
/* -------------------------------------------------- */
/* 배경사진 */
section#intro {
  background: url('../img1/main-visual01.jpg') no-repeat;
  background-size: cover;
  width: auto;
  height: 100%;
}
section#myprofile {
  background-image: url('../img1/rookie01-bg.jpg');
}
section#portfolio {
  background-image: url('../img1/led01-bg.jpg')
}
section#myskill {
  background-image: url('../img1/pure01-bg.jpg')
}
section article.led01{
  background: url('../img1/led01-bg.jpg')
}
/* ----------------#myprofile --------------------- */
section#myprofile {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
section#myprofile article .abs {
  position: absolute;
  left: 0;
  bottom: 16.667vh;
  width: 100%;
}
section#myprofile .cont {
  position: absolute;
}
section article .rookie02 .cont, section article .cont{
  top: 0;
  right: 180px;
  width: 55.99vw;
}
section article .circle {
  top: auto;
  bottom: 0;
}
#myprofile .shadow {
  top: 0;
  right: 180px;
  width: 55.99vw;
  position: absolute;
}
#myprofile .circle {
  position: absolute;
  right: 60px;
  width: 60.729vw;
  overflow: hidden;
}
/* ----------------#myprofile --------------------- */
/* ----------------#portfolio--------------------- */
section#portfolio .common-btns li.black a {
  background: #fff;
    color: #000;
}
section#portfolio .common-btns li.line span, .common-btns li.line i {
  color: #fff;
}
section#portfolio .common-btns li.line a{
  box-shadow: 0 0 0 1px #fff;
}
section#portfolio .abs .txtx h3 {
  color: #fff;
}
section#portfolio .dots .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, .2);
}
section#portfolio .dots .swiper-pagination-bullet-active-main {
  background: white;
}
#portfolio.led01 .cont {
  top: 0;
  left: 0;
  width: 91.719vw;
  position: absolute;
}
section#portfolio article .cont{
  top: 0;
  left: 0;
  width: 91.719vw;
}
section#portfolio article .abs {
  position: absolute;
  left: 0;
  bottom: 16.667vh;
  width: 100%;
}

section#portfolio .cont {
  position: absolute;
}
section#portfolio{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#portfolio .circle {
  position: absolute;
  right: 60px;
  width: 60.729vw;
  overflow: hidden;
}
/* ----------------#portfolio--------------------- */
/* ------------------#myskill--------------------- */
section#myskill .common-btns li.black a {
  background: #fff;
    color: #000;
}
section#myskill .common-btns li.line span, .common-btns li.line i {
  color: #fff;
}
section#myskill .common-btns li.line a{
  box-shadow: 0 0 0 1px #fff;
}
section#myskill .abs .txtx h3 {
  color: #fff;
}
section#myskill .dots .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, .2);
}
section#myskill .dots .swiper-pagination-bullet-active-main {
  background: white;
}
#myskill.led01 .cont {
  top: 0;
  left: 0;
  width: 91.719vw;
  position: absolute;
}
section#myskill article .cont{
  top: 0;
  left: 0;
  width: 91.719vw;
}
section#myskill article .abs {
  position: absolute;
  left: 0;
  bottom: 16.667vh;
  width: 100%;
}

section#myskill .cont {
  position: absolute;
}
section#myskill{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
#myskill .circle {
  position: absolute;
  right: 60px;
  width: 60.729vw;
  overflow: hidden;
}
/* ------------------#myskill--------------------- */
/* ---------------------ourclients------------------------------ */
section#ourclients .common-btns li.line span, .common-btns li.line i {
  color: #fff;
}
section#ourclients .common-btns li.line a{
  box-shadow: 0 0 0 1px #fff;
}
section#ourclients .abs .txtx h3 {
  color: #000;
}
section#ourclients .dots .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, .2);
}
section#ourclients .dots .swiper-pagination-bullet-active-main {
  background: white;
}
#ourclients.led01 .pc {
  top: 0;
  left: 0;
  width: 91.719vw;
  position: absolute;
}
section#ourclients article .pc{
  width: 100%;
  height: 100%;
}
section#ourclients article .abs {
  position: absolute;
  left: 0;
  bottom: 16.667vh;
  width: 100%;
}

section#ourclients .pc {
  position: relative;
}
section #ourclients{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

section#ourclients .abs .txt p {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 300;
    color: #000;
    line-height: 1.63;
  };
/* -------------------------------------------------------- */

/* --footer area-- */
#footer .right .sns li:after, #footer .right .sns li:before {
    border: 1px solid #333;
}

.sns li:after, .sns li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #eee;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transition: .3s;
    pointer-events: none;
}

#footer {
  background: #000000;
  padding: 150px 0 140px;
}
#footer .inner {
  display: flex;
  justify-content: space-between;
}
#footer .left .logo {
  width: 238px;
}
#footer .left .logo img {
    width: auto;
    max-width: 100%;
}
a:link, a:visited {
    text-decoration: none;
    color: #666;
}

#footer .left .adress {
    margin-top: 40px;
}

#footer .left .adress li{
  font-size: 14px;
  font-weight: 500;
}

#footer .left .adress li b {
  color: #888;
  margin-right: 10px;
}

#footer .left .adress li span {
  color: #444;
}

#footer .left .adress li:not(:first-child) {
  margin-top: 12px;
}

#footer .left address {
  font-size: 12px;
  font-weight: 300;
  margin-top: 60px;
  color: #bbb;
  line-height: 2.17;
}

.sns {
  display: flex;
}

.sns li {
    width: 38px;
    position: relative;
}

.sns li:not(:last-child) {
  margin-right: 12px;
}

.sns li a img {
  width: 100%;
}

#footer .right .common-btns {
  float: right;
  margin-top: 30px;
}

#footer .right .common-btns li {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#footer .right .common-btns li.white a {
  background: #fff;
}

#footer .right .common-btns li.white span {
  position: relative;
}

#footer .right .common-btns li.white span,#footer .right .common-btns li.white i {
    color: #000;
}

#footer .right .common-btns li  a{
  padding: 7px 20px;
  padding-right: 54px;
  min-height: 40px;
}

#footer .right .common-btns li span {
    font-size: 14px;
    font-weight: normal;
    display: block;
    position: relative;
}

#footer .right .common-btns li span {
  font-size: 13px;
}


/* -------------------------------------------------------- */
/* media query  나중에정리*/
@media screen and ( max-width: 1700px ){
  .inner {
    margin-left: 12%;
    width: 80%;
  }
}
@media screen and ( max-width: 1100px ) {
  .fullpage #intro {
    flex: 50%;
  }
  .inner{
    margin-left: 0;
    width: 100%;
  }
  .inner p {
    width: 100%;
  }
  .txt {
    font-size: 6.4vw;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3.6px;
    color: #fff;
    font-weight: 200;
  }
  .txt h2 {
    font-size: 6.4vw;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3.6px;
  }
  .txt h2:nth-child(2) {
    padding-left: 0;
  }
  section#myprofile .row .column .inner img {
    width: 100%;
  }
  #footer .container {
    width: 100%;
  }
  #footer .container .row .column {
    flex: 100%;
  }
}
@media screen and ( max-width: 900px ) {
  section #intro .column {
    flex: 100%;
  }
  section#ourclients .row .column, section#mytools .row .column {
    flex: 100%;
  }
  #footer .container .row .column {
    flex: 100%;
  }
  input[type=checkbox]#gnbcheck:checked ~ #header #gnb{
    left: 0;
  }

  #mobile-close-btn {
    display: block;
  }

  #gnb{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    width: 100%;
    background: rgba( 0, 0, 0, 0.8);
    transition: 0.5s ease-in-out;
    z-index: 600;
  }
  #gnb ul {
    padding-top: 50px;
  }

  #gnb ul li {
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
  }
}
@media screen and ( max-width: 380px ) {
  section#myprofile .row .column .inner img {
    width: 100%;
  }
  section#ourclients .row .column, section#mytools .row .column {
    flex: 100%;
  }
}
